h1, h2, h3, h4, h5 {
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

p {
	margin-bottom: 0;
}

small {
	color: #555555;
}

.none-decoration, a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none;
}


:lang(en) {
	font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, 'Open Sans', sans-serif;
}

:lang(cn) {
	font-family: Georgia, "Times New Roman", "FangSong",  STFangSong, serif;
}
body {
	margin: 0;
	padding: 2% 6%;

	display: flex;
	flex-direction: column;
}

header, footer {
	text-align: center;
	padding: 1rem 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avator-counter {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

}

	.avator {
		width: 15rem;
		height: 15rem;
		border-radius: 50%;
	}

.info-counter {
	display: flex;
	flex-direction: column;
	flex: 2;
}

	.info-text {
		text-align: left;
		padding-left: 5%;
		padding-right: 5%;
		color: #1d1d1d;
	}


.sub-container{
	padding: 1em 0;
}

.publication{
	display: block;
}
.publication-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
}
	.thumbnail-counter {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
		max-width: 15rem;
	}
		.thumbnail {
			width: 14rem;
			height: auto;
			/*border-radius: 50%;*/
		}

	.paper-info-counter {
		display: flex;
		flex-direction: column;
		flex: 4;
		justify-content: left;
		text-align: left;
		padding-left: 0.5rem;
		/*padding-right: 5%;*/
	}
		.paper-info-counter span{
			display: inline-block;
		}
		.paper-info-counter a{
			text-decoration: #0071a9;
			padding-right: 0.5rem;
		}
		.paper-info-counter .abstract{
			color: #555555;
		}


@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }

    .avator {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .avator {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
}
